<footer>
  <div class="container">
     <div class="row">
          <div class="col-md-4">
              <h6>Desenvolvido por LF diseño Grafico</h6>
          </div>

         
      
          <div class="col-md-4">
           
                  <div class="rede-social d-inline-flex justify-content-end">   
                   <a href="https://www.facebook.com/ToalhasSaoCarlos/"><span class="img-facebook"></span></a>
                   <a href="https://www.instagram.com/sao_carlos/"><span class="img-instagram"></span></a>
                  </div>
              
          </div>
    </div>
  </div>    
</footer>