

.toalha-logo{
    margin-left: 100%;
    margin-right: 100%;
    background-color: #fff;
 
}

.img-logo{
    height: 60px;
	width: 180px;
	background: url("../../assets/logo/simbolo-branco.png") no-repeat;
	display: block;
	color: #fff;
    background-size: contain;
    background-color: #fff;
    margin: 0;
}

.img-logo-cinza{
    height: 60px;
	width: 100px;
    margin-left:15px;
}

img{
    height: auto;
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 10px 0 2px;
        text-align: center;
        text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 36px;
        font-weight: auto;
        line-height: normal;
        color: #225378;
    }

    .address-bar {
        display: inherit;
        margin: 15px;
        padding: 0 0 10px;
        text-align: center;
        text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 3px;
        color: #225378;
    }
    

    .navbar {
        border-radius: 0;
        text-align: center;
    }


    .navbar {
        min-height: 0;
        text-align: center;
    }

    /* menu header*/


    .nav-item{
        color:#225378;
        font-size: 16px;
        font-style: inherit;
        margin-right: 25px;
        margin-left: 15px;
        margin-bottom: 0;
        margin-top: 0; 
        text-align: center;
      }

    .nav-link:hover{
       color:#225378;
       text-align: center;
    }
      

    #colormenu{
     background-color: #225378;
    }
}
