
.bg-dark-edit {
background-color: #225378;
}


.navbar {
    margin-bottom: 20px;
  
  }
  
  .img-logo-cinza{
    height: 60px;
	width: 100px;
    margin-left:15px;
}

img{
    height: auto;
    width: 100%;
}

/*  item do menu */
.navbar-dark .navbar-nav .nav-link {
    color: #D3D3D3;
}

@media (min-width: 992px)
{
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3rem;
    padding-left: .5rem;
    }
}