<p>
  <!-- Endereço da empresa ou subtitulo do site -->
         <div class="d-flex justify-content-start">
          <img class="img-logo-cinza" src="../../assets/logo/logo.png"> </div>
  <p>
  <nav class="navbar navbar-dark navbar-expand-lg" id="colormenu" role="navigation">
          <!-- aparecerá somente em dispositivos mobile -->
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-mobile"  aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
              <!-- Nome da empresa ou titulo do site para os dispositivos mobile -->
              
          
          <!-- nossos menu -->
          
          <div class="collapse navbar-collapse" id="menu-mobile">
         
              <ul class="navbar-nav menu">
                  <!-- cada linha é um item do menu -->
                  <li class="nav-item"><a class="nav-link"[routerLink] ="['/home']">Home</a></li>
                  <li class="nav-item"><a class="nav-link"[routerLink] ="['/empresa']">Empresa</a></li>
                  <li class="nav-item"><a class="nav-link"[routerLink] ="['/produtos']">Productos</a></li>
                  <li class="nav-item"><a class="nav-link"[routerLink]="['/catalogo']">Catálogo</a></li>
                  <li class="nav-item"><a class="nav-link"[routerLink]="['/loja']">Nuestros Clientes</a></li>
                  <li class="nav-item"><a class="nav-link"[routerLink]="['/contato']">Contacto</a></li>
                  <li class="nav-item"><a class="nav-link"[routerLink]="['/admin']">Administrador</a></li>
              
                 
              </ul>
              
          </div>
          <!-- /.navbar-collapse -->
  
      <!-- /.container -->
  </nav>