<div class="container">
  <br>
  <br>
  <h2>Contacto</h2>
  <hr>
  <br>  

  <form [formGroup]="formulario"(ngSubmit)="cadastrarClienteContato()" action="http://tacticgame.com.br/toalhassaocarlos/enviar.php">
  <div class="row">
      <div class="form-group col-sm-6">
        <input 
        type="text"
        class="form-control" 
        id="nombre" 
        placeholder="Nombe..."
        formControlName="nombre">
      </div>
    

    <div class="form-group col-sm-6">
        <input 
        type="text" 
        class="form-control" 
        id="email" 
        placeholder="Email..."
        formControlName="email">
      </div>
    </div>
    
<br>
    <div class="row">
        <div class="form-group col-md-6">
         <input 
         type="text" 
         class="form-control" 
         id="telefono" 
         placeholder="Telefono..."
         formControlName="Telefono">
        </div>
        
        <div class="form-group col-md-6">
          <input type="text" 
          class="form-control" 
          id="Movil" 
          placeholder="Movil..."
          formControlName="Movil">
        </div>
      </div>
      <br>
      <div class="row">
            <div class="form-group col-md-6">
              <select class="form-control" 
              id="estado"
             formControlName="estado">
            <option selected>Estado...</option>
            <option value="AC">AC</option>
            <option value="AL">AL</option>
            <option value="AP">AP</option>
            <option value="AM">AM</option>
            <option value="BA">BA</option>
            <option value="CE">CE</option>
            <option value="DF">DF</option>
            <option value="ES">ES</option>
            <option value="GO">GO</option>
            <option value="MA">MA</option>
            <option value="MT">MT</option>
            <option value="MS">MS</option>
            <option value="MG">MG</option>
            <option value="PA">PA</option>
            <option value="PB">PB</option>
            <option value="PR">PR</option>
            <option value="PE">PE</option>
            <option value="PI">PI</option>
            <option value="RJ">RJ</option>
            <option value="RN">RN</option>
            <option value="RS">RS</option>
            <option value="RO">RO</option>
            <option value="RR">RR</option>
            <option value="SC">SC</option>
            <option value="SP">SP</option>   
            <option value="SE">SE</option>
            <option value="TO">TO</option>
          </select>
            </div>
         
          
            <div class="form-group col-md-6">
              <input
               type="text" 
               class="form-control" 
               id="Ciudad" 
               placeholder="Ciudad..."
               formControlName="Ciudad">
            </div>
            </div>

            <br>
            <div class="row">
              <div class="form-group col-md-6">
                <input 
                type="text" 
                class="form-control" 
                placeholder="Tema..."
                formControlName="Tema">
              </div>
              </div>
              <br>
              <div class="row">
                <div class="form-group col-md-12">
                    <textarea 
                    class="form-control" 
                    placeholder="Mensagen..." 
                    rows="3"
                    formControlName="mensagem"></textarea>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                 <button type="submit" class="btn btn-secondary btn-lg">Enviar</button>
                </div>
              </div>
              <br>
       
    </form>
    </div>            

<br>
<br>
<br>
<br>
<br>
<br>





