
#svg-map path { fill:#0094d9; }
#svg-map text { fill:#fff; font:12px Arial-BoldMT, sans-serif; cursor:pointer }
#svg-map a{ text-decoration:none }
#svg-map a:hover { cursor:pointer; text-decoration:none }
#svg-map a:hover path{ fill:#003399 !important }
#svg-map .circle { fill:#66ccff }
#svg-map a:hover .circle { fill:#003399 !important; cursor:pointer }

.col-md-6{
    padding-bottom: 20px;
    padding-top: 20px; 
}

.conteudo-sp{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
    color: gray;
}


