<div class="container">
    <br>
    <br>
  <div class="lista">
      <h3>Quem somos?</h3>
    <hr>
   
    <p>
        Toalhas São Carlos foi fundada em 1946, na cidade de São Carlos, no centro da cidade, por Miguel Abdelnur e sua principal missão é levar o que há de melhor em moda a preços justos.  
    </p>
  
      <h5>Missão:</h5>
      <p> Oferecer ao consumidor produtos reconhecidamente líderes em qualidade e moda, gerando sempre oportunidades de negócios para a empresa e valor compartilhado com a sociedade brasileira.
      </p>
    
      <h5>Visão:</h5>
      <p>  Ser a melhor produtora de toalhas do mundo, oferecendo aos seus clientes e parceiros uma relação duradoura, com foco no crescimento, rentabilidade e responsabilidade socioambiental.
  
       </p>
     
      <h5>Valores:</h5>
      <p>
        Ela tem como missão, criar e comercializar produtos e serviços que promovam o bem estar. Sua principal visão é ser uma marca de expressão mundial e logo abaixo você poderá ver todos os valores dessa empresa:
        • Transparência
        • Criatividade
        • Equilíbrio
        • Humanismo        
      </p>
     
      <br>
  
    </div>
  
  <div class="blog-post">
      <h3 class="empresa-title">Nossa História</h3>
      <hr>
  
       <p>
      Tudo começou em 1914 quando Miguel Abdelnur, muito jovem, saiu da sua terra natal no Libano e veio para o Brasil junto de seus pais. Residiu em Pelotas, no Rio Grande do Sul e conheceu sua esposa Roxana em viagem de férias para a cidade de Ribeirão Bonito, interior de São Paulo. Tudo indica que foi amor a primeira vista as férias de Miguel terminaram, mas ele permaneceu em Ribeirão Bonito até casar-se. Após o casamento, Miguel e Roxana voltaram para Pelotas e lá permaneceram, até que a crise gerada pela primeira guerra mundial afetou drasticamente os negócios da familia, os obrigando a mudar de estado.Escolheram então a cidade de são carlos, lugar onde a familia de Roxana morava e a crise não tinha tido grandes efeitos no estado de São Paulo. 
       </p>
    
        
       <p> São Carlos não é apenas uma cidade que recebe imigrantes, ela foi na verdade constituida por imigrante, por esta razão, Miguel e Roxana encontraram na cidade o acolhimento que necessitavam e a oportunidade
        de prosperar e realizar o sonho de Roxana, de construir uma fábrica de toalhas para deixar uma herança para seus filhos.
       </p>
      
        
        
        <p> Inicialmente, Miguel dedicou-se á pecuária e á agricultura, mas sua vocação era de industrial, logo montou nas terras da fazenda uma pequena indústrua téxti de meias que depois de um tempo , foi transferido para o centro
        de São Carlos. </p>
      
        <p>
        Miguel Filho herdara o espitiro empreendedor do pai e logo foi trabalhar na fábrica, que nesta altura fabricava além das meiras, brim e derivados. Levando em conta o sonho de Roxana, pai e filho associaram-se a Ibrahim Remale e começarama confeccionar toalhas.  
        Logo após o término da Segunda Guerra Mundial, Miguel e Remale decidiram trilhar caminhos próprios e assim, a familia Abdenur começou a tocar na Toalhas São Carlos sozinha.
        </p>
       
  
        <div class="container">
            <img class="card-img" src="../../assets/banner-toalhas/estrutura.jpg" alt="Card image">
            <p>Foto do parque industrial na cidade de São Carlos</p>
        </div>
      
  
      
          <p>
          A fábrica foi fundada definitivamente em 01 de maio de 1946. A data comemorativa do Dia Internacional do Trabalho foi escolhida por Miguel Filho
          , que desde muito jovem dedicava-se inteiramente á fábrica.   
          Sempre colocando em primeiro lugar a qualidade de deus produtos e a evolução da fábrica, a família seguia uma adaptação do bordao
          mais famoso do escritor francês Alexandre Dumas, que deixava de lado todas as diferenças entre a familia para focar no interesse maior.
          "um por todos e todos pela fábrica!".
          </p>
      
  
       
          
          <p>Os produtos ganharam prateleiras dos grandes centros, conforme tanto sonhara Roxana. Tamanho sucesso permitiu a modernização da fábrica.
          Os anos 70 chegaram para maiores desafios: atualização de maquinários, instalação da fiação própria em seu complexo fábril e busca
          de mercado externo fizeram da Tecelagem São Carlos referência de qualidade em todo o país. Assim andou-se na contramão do país, a
          verticalização da produção apoia fornecedores e compradores, tornando-a motor econômico para São Carlos. Daí para frente se consolida
          no mercado interno e amplica sua marca mundo afora através, também da participação em feiras setonais internacionais.
          </p>
     
  
        <p class="final-text">
    
          Sua constante renovação e sensibilidade mercadológica a conduz nos anos 90, para a maturidade ambiental, automação industrial e processos
          criativos informatizados. A implantação da Estação de Tratamento, mais um exemplo de pionerismo nato, traduz a preocupação elevada com qualidade
          de produtos e processos.
          
          As primeiras décadas deste novo século trazem consigo o vigor necessário para a empresa encarar o futuro com as melhores perspectivas: consquistar novos mercados
          e valorizar constantemente a sua marca, no Brasil e no mundo.    
          -
        </p>
  
    </div>
  
  </div>
  <br>
  <br>
  
