
<div class="container">
  <br>
  <div class="row">
      <div class="col">
        <h3>Conheça nossa loja física</h3>
        <hr>
        <p>Com mais 70 anos de existência e, exclusivamente fabricando toalhas de banho, rosto e roupões, se destaca por ter um perfil diferente. Faz tudo com dedicação e carinho, como se fosse uma peça única.
            Criativa, talentosa, dinâmica, obcecada por qualidade e preocupada com os seus clientes , chega a criar mais de 500 desenhos diferentes por ano, tanto para o mercado interno como para o mercado externo.
            O diferencial não está só na criatividade, está também no chão de fábrica. É detentora da exclusiva "Tecnologia Super Dry". Tudo isto é o jeito da Toalhas São Carlos fazer toalhas.</p>
        </div>
      </div>
 


    <div class="row">
      <div class="col-md-6">
        <div class="img-loja">
          <img src="../../assets/loja/fachada2-loja.jpg">
      </div>
      </div>
       
      <div class="col-md-6">
      <br>
        <ul>
              
              <li>Endereço: Avenida São Carlos, 660 ,Centro</li>
              <li>Telefone: (16) 2106-6216</li>
              <li>Horário de funcionamento: Segunda a Sexta das 9h as 18h, <br> sábados das 9h as 13h</li>
              
              <li><h4>Como chegar?</h4></li>    
             <li><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3698.568555297097!2d-47.89048806197779!3d-22.02783639013041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b87719b1edf383%3A0x543ca3dc9c70148b!2sAv.+S%C3%A3o+Carlos%2C+660+-+Centro%2C+S%C3%A3o+Carlos+-+SP%2C+13560-011!5e0!3m2!1spt-BR!2sbr!4v1525117813324" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe></li>

          </ul>
        </div>  
      
  

    </div>
    
  