@media screen and (min-width:768px) {

    .vertical-menu {
      width: 200px; /* Set a width if you like */
    }
    
    .vertical-menu a {
      background-color: rgba(35, 88, 235, 0.5); /* Grey background color */
      color: black; /* Black text color */
      display: block; /* Make the links appear below each other */
      padding: 12px; /* Add some padding */
      text-decoration: none; /* Remove underline from links */
    }
    
    .vertical-menu a:hover {
      background-color: rgb(27, 76, 180); /* Dark grey background on mouse-over */
    }
    
    .vertical-menu a.active {
      background-color:rgb(27, 76, 180); /* Add a green color to the "active/current" link */
      color: white;
    }
    
    }
    @media screen and (min-width:768px) {
      .brand {
          display: inherit;
          margin: 0;
          padding: 10px 0 2px;
          text-align: center;
          text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
          font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 24px;
          font-weight: auto;
          line-height: normal;
          color: gray;
      }
    }
    