<main role="main">
    <div class="container-fluid">
      <div class="col-md space">
        <ngb-carousel *ngIf="banners"  [showNavigationIndicators]="showNavigationIndicators">
          <ng-template ngbSlide *ngFor="let banner of banners">
            <img [src]="banner.url_imagem" alt="Random slide">
          </ng-template>
        </ngb-carousel>
        </div>
      <br>
  
    <div class="container">
       <!--FIM SLIDES-->
        
        <h3> Quienes somos ?</h3>
        <hr>
        <div class="row">
              <div class="col-md-4">
                  <div class="card">
                    <img class="img-responsive img-border img-left tamanho-img" src="../../assets/loja/fabrica.JPG" alt="">
                  </div>
              </div>
                  <div class="col-md-4">
                    <div class="card">
                      <img class="img-responsive img-border img-left tamanho-img" src="../../assets/loja/fachada-loja.jpg" alt="">
                    </div>
                  </div>
  
                  <div class="col-md-4">
                      <div class="card">
                        <img class="img-responsive img-border img-left tamanho-img" src="../../assets/loja/produtos-loja.jpg" alt="">
                      </div>
                  </div>
                  
          </div>
            <br>
            <br>  
          <div class="row">
              <div class="col-md-12">
                  <p>Conquistando novos mercados e valorizar constantemente a sua marca requer vigor e este elemento é cultivado em nosso dia a dia.<br>
                    Mas o maior objetivo é obter tais conquistas sob o olhar satisfeito dos consumidores, amigos e clientes.<br>
                    Por isso qualidade e compromisso se tornam palavras chaves para todo e qualquer tipo de desenvolvimento da Toalhas São Carlos<br>
                     <a [routerLink] ="['/empresa']">Gostou? Venha conhecer um pouco da nossa historia </a></p>
              </div>
            </div>
         
  
          <br>
          <br>
          </div>
          </div>
  </main>